{% extends 'main.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    {{ movie.title }}
{% endblock %}
{% block head %}
    <link href="{% static "flag-icon-css/css/flag-icon.min.css" %}" rel="stylesheet">
    <script src="{% static "angular/angular.min.js" %}" type="text/javascript"></script>
    <script src="{% static "deps/angular-cookies/angular-cookies.min.js" %}" type="text/javascript"></script>
    <script src="{% static "angular-resource/angular-resource.min.js" %}" type="text/javascript"></script>
    <link href="{% static "angular-xeditable/dist/css/xeditable.css" %}" rel="stylesheet">
    <script src="{% static "angular-xeditable/dist/js/xeditable.min.js" %}" type="text/javascript"></script>

    <script src="{% static "app/utils/tasty-resource.js" %}" type="text/javascript"></script>
    <script src="{% static "app/pages/movie/movie.js" %}" type="text/javascript"></script>
    <link href="{% static "app/pages/movie/movie.css" %}" rel="stylesheet">
    <link href="{% static "app/pages/user-score.css" %}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container" ng-app="MoviePage">
        <div class="row">
            <div class="col-md-4">
                <div class="row text-center">
                    <img src="{{ movie.image_url }}" style="margin-top: 20px; max-height: 445px;">
                </div>

                {% if request.user.is_authenticated %}
                <div class="row text-center" ng-controller="ScoreController" ng-init="init({{ movie.id }})" style="margin-top:20px;">
                        <div class="user-status">
                            <a href="#"
                               editable-select="user_to_movie.status"
                               e-name="status"
                               buttons="no"
                               e-ng-options="s.id as s.text for s in STATUSES"
                               onaftersave="save()">
                                {% verbatim %}
                                <span class="ng-scope user-status-{{ user_to_movie.status }} lead">{{ showStatus() }}</span>
                                {% endverbatim %}
                            </a>
                        </div>

                        <div class="user-score" ng-show="user_to_movie.status == 'W'">
                            <a href="#"
                               editable-select="user_to_movie.score"
                               e-name="score"
                               buttons="no"
                               e-ng-options="s as s for s in SCORE_CHOICES"
                               onaftersave="setScore()">
                                {% verbatim %}
                                <span class="ng-scope label user-score-digit user-score-{{ user_to_movie.score }} lead">{{ showScore() }}</span>
                                 {% endverbatim %}
                            </a>
                        </div>

                        <div class="user-comments" ng-show="user_to_movie.status == 'W'">
                            <p class="text-muted" style="margin-bottom: 5px; margin-top: 0;">{% trans 'My comments' %}</p>
                            <p><a href="#"
                                  editable-textarea="user_to_movie.comments"
                                  e-name="comments"
                                  e-cols="40"
                                  e-rows="5"
                                  e-maxlength="140"
                                  onshow="showCommentsHelp()"
                                  onhide="hideCommentsHelp()"
                                  onaftersave="setComments()">
                                {% verbatim %}
                                <span class="ng-scope">{{ user_to_movie.comments || T_NO_COMMENTS }}</span>
                                {% endverbatim %}
                                </a>
                                <p class="text-muted" ng-show="show_comments_help" style="margin-top: 0px; margin-bottom: 0px;">{% trans '140 characters max.' %}</p>
                            </p>
                        </div>

                    <div class="row">
                        {% if opinions %}
                        <p class="text-muted" style="margin-bottom: 5px;">My followers' comments</p>
                            {% endif %}
                        {% for username, score, comments in opinions %}
                        <blockquote class="text-left">
                            {{ comments }}
                            <footer><a class="text-muted" href="{% url 'list_watched' username %}">{{ username }}</a> <span class="label label-user-score-{{ score }}">{{ score }}</span></footer>
                        </blockquote>
                        {% empty %}
                            <p class="text-muted">{% trans 'No one has commented on this yet among the people you follow.' %}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-md-8">
                <h1 style="display: inline-block;">{{ movie.title }}</h1>
                {% if request.user.is_staff %}
                    &nbsp;<a class="btn btn-mini btn-default" style="margin-bottom:10px;" href="{% url 'admin:movies_movie_change' movie.id %}">admin</a>
                {% endif %}
                <div class="row">
                    <div class="col-md-8">
                        <table class="table table-striped table-condensed">
                            <caption>{% trans 'Movie information' %}</caption>
                            <tr>
                                <th style="width: 30%;">{% trans 'Year' %}</th>
                                <td>{{ movie.year }}</td>
                            </tr>
                            {% if series %}
                            <tr>
                                <th>{% trans 'Series' %}</th>
                                <td>{{ series.title }}</td>
                            </tr>
                            {% endif %}
                            {% if prev_movie %}
                            <tr>
                                <th>{% trans 'Previous movie' %}</th>
                                <td><a href="{% url 'movie' prev_movie.id prev_movie.slug %}">{{ prev_movie.title }}</a></td>
                            </tr>
                            {% endif %}
                            {% if next_movie %}
                            <tr>
                                <th>{% trans 'Next movie' %}</th>
                                <td><a href="{% url 'movie' next_movie.id next_movie.slug %}">{{ next_movie.title }}</a></td>
                            </tr>
                            {% endif %}

                            <tr>
                                <th>{% trans 'Country' %}</th>
                                <td>
                                    {% for country in movie.countries.all %}
                                        <span class="flag-wrapper flag-icon flag-icon-{{ country.iso_code|lower }}" title="{{ country.name }}"></span>
                                    {% empty %}
                                        -
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    {% if movie.directors.all|length > 1 %}
                                        {% trans 'Directors' %}
                                    {% else %}
                                        {% trans 'Director' %}
                                    {% endif %}
                                </th>
                                <td>
                                    {% for person in movie.directors.all %}
                                        <a href="{% url 'person' person.id person.slug %}">{{ person.name }}</a>{% if not forloop.last %}, {% endif %}
                                    {% empty %}
                                        -
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    {% if movie.writers.all|length > 1 %}
                                        {% trans 'Writers' %}
                                    {% else %}
                                        {% trans 'Writer' %}
                                    {% endif %}
                                </th>
                                <td>
                                    {% for person in movie.unique_writers %}
                                        <a href="{% url 'person' person.id person.slug %}">{{ person.name }}</a>{% if not forloop.last %}, {% endif %}
                                    {% empty %}
                                        -
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    {% if movie.producers.all|length > 1 %}
                                        {% trans 'Producers' %}
                                    {% else %}
                                        {% trans 'Producer' %}
                                    {% endif %}
                                </th>
                                <td>
                                    {% for person in movie.producers.all %}
                                        <a href="{% url 'person' person.id person.slug %}">{{ person.name }}</a>{% if not forloop.last %}, {% endif %}
                                    {% empty %}
                                        -
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    {% if movie.composers.all|length > 1 %}
                                        {% trans 'Composers' %}
                                    {% else %}
                                        {% trans 'Composer' %}
                                    {% endif %}
                                </th>
                                <td>
                                    {% for person in movie.composers.all %}
                                        <a href="{% url 'person' person.id person.slug %}">{{ person.name }}</a>{% if not forloop.last %}, {% endif %}
                                    {% empty %}
                                        -
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    {% trans 'Genre' %}
                                </th>
                                <td>
                                    {% for genre in movie.genres.all %}
                                        <a href="#">{{ genre.name|lower }}</a>{% if not forloop.last %}, {% endif %}
                                    {% empty %}
                                        -
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    {% trans 'MPAA rating' %}
                                </th>
                                <td>
                                    {{ movie.rated|default:'-' }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    {% trans 'Runtime' %}
                                </th>
                                <td>
                                    {{ movie.runtime|default:'-' }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    {% trans 'Tagline' %}
                                </th>
                                <td>
                                    {{ movie.tagline|default:'-' }}
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped table-condensed">
                            <caption>{% trans 'Movie ratings' %}</caption>
                            <tr>
                                <th>{% trans 'IMDB rating' %}</th>
                                <td>{{ movie.rating_imdb|default:'-' }}
                                    {% if movie.votes_imdb %}
                                        <small>({{ movie.votes_imdb }} {% trans 'votes' %}</small>)
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{% trans 'Metascore' %}</th>
                                <td>
                                    {{ movie.rating_metacritic|default:'-' }}
                                </td>
                            </tr>
                            <tr>
                                <th>{% trans 'Rotten Tomatoes' %}</th>
                                <td>
                                    {{ movie.rating_tomatoes|default:'-' }}
                                    {% if movie.rating_tomatoes %}%{% endif %}
                                </td>
                            </tr>
                        </table>
                        {% if movie.kinopoisk_url or movie.imdb_url %}
                        <table class="table table-striped table-condensed">
                            <caption>{% trans 'On other sites' %}</caption>
                            {% if movie.imdb_url %}
                                <tr>
                                    <td><a href="http://{{ movie.imdb_url }}">{{ movie.imdb_url }}</a></td>
                                </tr>
                            {% endif %}
                            {% if movie.kinopoisk_url %}
                                <tr>
                                    <td><a href="http://{{ movie.kinopoisk_url }}">{{ movie.kinopoisk_url }}</a></td>
                                </tr>
                            {% endif %}
                        </table>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <table class="table table-striped table-condensed">
                            <caption>{% trans 'Cast' %}</caption>
                            {% for person in cast %}
                                <tr>
                                    <td>
                                        <a href="{% url 'person' person.id person.slug %}">{{ person.name }}</a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr><td>{% trans 'No information' %}</td></tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
