<section class="col-md-12" infinite-scroll='loader.nextPage()' infinite-scroll-disabled='loader.busy' infinite-scroll-distance='1'>
    <div ng-repeat="user_to_movie in loader.user_to_movies | filter:query | orderBy:orderByField:reverseSort" ng-controller="UserToMovieController">
        <div class="media">
            <div class="pull-left" style="width: 65%;">
                <div class="media-left">
                    <a href="{{ user_to_movie.movie.page_url }}">
                        <img class="media-object" src="{{ user_to_movie.movie.image_url }}" alt="{{ user_to_movie.movie.title }}" style="width: 64px;">
                    </a>
                </div>
                <div class="media-body">
                    <div>
                        <a href="{{ user_to_movie.movie.page_url }}"><h4 class="media-heading" style="display: inline-block;">{{ user_to_movie.movie.title }}</h4></a>
                    </div>
                    <div>
                        {{ user_to_movie.movie.year }}
                        <span ng-repeat="country in user_to_movie.movie.countries">
                            <span class="flag-icon flag-icon-{{ country.iso_code|lowercase }}" title="{{ country.name }}"></span>
                        </span>
                    </div>
                    <div>
                        <span ng-switch="user_to_movie.movie.directors.length">
                            <span ng-switch-when="1">Director:</span>
                            <span ng-switch-default>Directors:</span>
                        </span>
                        <span ng-repeat="person in user_to_movie.movie.directors | orderBy:'name'">
                            <a href="{{ person.page_url }}">{{ person.name }}</a><span ng-show="!$last">, </span>
                        </span>
                    </div>
                    <div>
                        Cast:
                        <span ng-repeat="person in user_to_movie.movie.cast | orderBy:'name'">
                            <a href="{{ person.page_url }}">{{ person.name }}</a><span ng-show="!$last">, </span>
                        </span>
                    </div>
                    <div>
                        <span ng-repeat="genre in user_to_movie.movie.genres | orderBy:'toString()'">
                            <span class="label label-success">
                                {{ genre }}
                            </span>&nbsp;
                        </span>
                    </div>
                </div>
            </div>
            <div class="pull-left" style="margin-left: 15px; height: 100px;" ng-show="loader.status == 'W'">
                <div class="user-score">
                    <a href="#"
                       editable-select="user_to_movie.score"
                       e-name="score"
                       e-ng-options="s as s for s in SCORE_CHOICES"
                       onaftersave="save()">
                        <span class="ng-scope user-score-digit user-score-{{ user_to_movie.score }} lead">{{ showScore() }}</span>
                    </a>
                </div>
            </div>
            <div class="pull-left" style="height:100px;">
                <div class="imdb-score">
                    <div>
                    IMDB:
                    <span class="ng-scope imdb-score-digit lead">{{ user_to_movie.movie.rating_imdb }}</span>
                    </div>
                    <div ng-show="{{ user_to_movie.movie.rating_tomatoes }}">
                        <div style="display: inline;" ng-if="user_to_movie.movie.tomatoes_fresh == true">
                            <img src="/static/app/pages/list/tomato.png" alt="fresh" style="width: 16px; margin-bottom: 8px;">
                        </div>
                        <div style="display: inline;" ng-if="user_to_movie.movie.tomatoes_fresh == false">
                            <img src="/static/app/pages/list/splat.png" alt="splat" style="width: 16px; margin-bottom: 8px;">
                        </div>
                    <span class="ng-scope tomatoes-score-digit lead">{{ user_to_movie.movie.rating_tomatoes }}%</span>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</section>
