<section class="col-md-12" infinite-scroll='loader.nextPage()' infinite-scroll-disabled='loader.busy' infinite-scroll-distance='1'>
    <div ng-repeat="user_to_movie in loader.user_to_movies" ng-controller="UserToMovieController">
        <div class="media" ng-show="!user_to_movie._deleted">
            <div class="pull-left" style="width: 65%;">
                <div class="media-left">
                    <a href="{{ user_to_movie.movie.page_url }}">
                        <img class="media-object" src="{{ user_to_movie.movie.image_url }}" alt="{{ user_to_movie.movie.title }}" style="width: 64px;">
                    </a>
                    <div class="text-center">
                        <span class="label label-default" title="{{ T_DATE_ADDED_ON }}">{{ user_to_movie.created_at|date:'dd.MM.yy' }}</span>
                    </div>
                </div>
                <div class="media-body">
                    <div>
                        <a href="{{ user_to_movie.movie.page_url }}"><h4 class="media-heading" style="display: inline-block;"><span ng-class="{'mark': loader.stringMatched(user_to_movie.movie.title)}">{{ user_to_movie.movie.title }}</span></h4></a>
                        <span class="label label-info" ng-show="user_to_movie.my_status == 'W'">{{ T_WATCHED }}</span>
                        <span class="label label-info" ng-show="user_to_movie.my_status == 'P'">{{ T_PLAN_TO_WATCH }}</span>
                        <span class="label label-default" ng-show="user_to_movie.my_status == 'I'">{{ T_IGNORED }}</span>
                        <span class="label label-user-score-{{ user_to_movie.my_score }}" ng-show="user_to_movie.my_score" title="{{ T_MY_SCORE }}">{{ user_to_movie.my_score }}</span>
                        <div style="display: inline-block; margin-left: 5px;" ng-show="!user_to_movie.my_status && !editable && logged_in">
                            <div class="btn-group dropdown-toggle" style="margin-bottom: 5px;">
                                <button type="button"
                                        class="btn btn-default btn-xs"
                                        data-toggle="dropdown"
                                        aria-expanded="false">
                                    <i class="fa fa-plus"></i> {{ T_ADD }} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="" ng-click="addMovie(user_to_movie.movie.id, 'W')">{{ T_WATCHED }}</a></li>
                                    <li><a href="" ng-click="addMovie(user_to_movie.movie.id, 'P')">{{ T_PLAN_TO_WATCH }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        {{ user_to_movie.movie.year }}
                        <span ng-repeat="country in user_to_movie.movie.countries">
                            <span class="flag-wrapper flag-icon flag-icon-{{ country.iso_code|lowercase }}" title="{{ country.name }}"></span>
                        </span>
                    </div>
                    <div ng-show="user_to_movie.movie.directors.length">
                        <span ng-switch="user_to_movie.movie.directors.length">
                            <span ng-switch-when="1">{{ T_DIRECTOR }}:</span>
                            <span ng-switch-default>{{ T_DIRECTORS }}:</span>
                        </span>
                        <span ng-repeat="person in user_to_movie.movie.directors | orderBy:'name'">
                            <a href="{{ person.page_url }}"><span ng-class="{'mark': loader.stringMatched(person.name)}">{{ person.name }}</span></a><span ng-show="!$last">, </span>
                        </span>
                    </div>
                    <div ng-show="user_to_movie.movie.cast.length">
                        {{ T_CAST }}:
                        <span ng-repeat="person in user_to_movie.movie.cast | orderBy:'-sort_power' | limitTo:loader.cast_limit_to">
                            <a href="{{ person.page_url }}"><span ng-class="{'mark': loader.stringMatched(person.name)}">{{ person.name }}</span></a><span ng-show="!$last">, </span>
                        </span>
                    </div>
                    <div>
                        <span ng-repeat="genre in user_to_movie.movie.genres | orderBy:'toString()'">
                            <span class="label label-success">
                                {{ genre }}
                            </span>&nbsp;
                        </span>
                    </div>
                </div>
            </div>
            <div class="pull-left" style="margin-left: 15px; height: 100px;" ng-show="loader.status == 'W'">
                <div class="user-score">
                    <div ng-show="editable">
                        <a href="#"
                           title="IMDB: {{ user_to_movie.movie.rating_imdb }}, RT: {{ user_to_movie.movie.rating_tomatoes }}%"
                           editable-select="user_to_movie.score"
                           e-name="score"
                           e-ng-options="s as s for s in SCORE_CHOICES"
                           buttons="no"
                           onaftersave="setScore()">
                            <span class="ng-scope label user-score-digit user-score-{{ user_to_movie.score }} lead">{{ showScore() }}</span>
                        </a>
                    </div>
                    <div ng-show="!editable">
                        <span class="ng-scope label user-score-digit user-score-{{ user_to_movie.score }} lead" title="IMDB: {{ user_to_movie.movie.rating_imdb }}, RT: {{ user_to_movie.movie.rating_tomatoes }}%">{{ user_to_movie.score }}</span>
                    </div>
                </div>
            </div>
            <div class="pull-right" ng-show="editable" style="margin-top: 35px; margin-right: 100px;">
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                    {{ T_ACTIONS }}
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="removeMovie(user_to_movie.movie.id)"><i class="fa fa-trash"></i> {{ T_DELETE }}</a></li>
                  </ul>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div ng-show='loader.busy' class="loader text-center"><p class="text-muted"><i class="fa fa-spinner fa-spin"></i></p></div>
</section>
