<div ng-show="loader.user_to_movies.length">
    <section class="col-md-12">
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>
                      <a ng-click="orderByField='movie.title'; reverseSort = !reverseSort">
                      Movie <span ng-show="orderByField == 'movie.title'"><span ng-show="!reverseSort"><i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort"><i class="fa fa-sort-desc"></i></span></span>
                      </a>
                    </th>
                    <th>
                      <a ng-click="orderByField='movie.year'; reverseSort = !reverseSort">
                        Year <span ng-show="orderByField == 'movie.year'"><span ng-show="!reverseSort"><i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort"><i class="fa fa-sort-desc"></i></span></span>
                      </a>
                    </th>

                    <th ng-show="loader.status == 'W'">
                      <a ng-click="orderByField='score'; reverseSort = !reverseSort">
                      Score <span ng-show="orderByField == 'score'"><span ng-show="!reverseSort"><i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort"><i class="fa fa-sort-desc"></i></span></span>
                      </a>
                    </th>
                    <th ng-show="loader.status == 'W' && !editable">
                      <a ng-click="orderByField='my_score'; reverseSort = !reverseSort">
                      My score <span ng-show="orderByField == 'my_score'"><span ng-show="!reverseSort"><i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort"><i class="fa fa-sort-desc"></i></span></span>
                      </a>
                    </th>
                    <th>
                      <a ng-click="orderByField='movie.rating_imdb'; reverseSort = !reverseSort">
                      IMDB rating <span ng-show="orderByField == 'movie.rating_imdb'"><span ng-show="!reverseSort"><i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort"><i class="fa fa-sort-desc"></i></span></span>
                      </a>
                    </th>
                    <th>
                      <a ng-click="orderByField='movie.votes_imdb'; reverseSort = !reverseSort">
                      IMDB votes <span ng-show="orderByField == 'movie.votes_imdb'"><span ng-show="!reverseSort"><i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort"><i class="fa fa-sort-desc"></i></span></span>
                      </a>
                    </th>
                    <th>
                      <a ng-click="orderByField='created_at'; reverseSort = !reverseSort">
                      Date added on <span ng-show="orderByField == 'created_at'"><span ng-show="!reverseSort"><i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort"><i class="fa fa-sort-desc"></i></span></span>
                      </a>
                    </th>
                </tr>
            </thead>
            <tbody infinite-scroll='loader.nextPage()' infinite-scroll-disabled='loader.busy' infinite-scroll-distance='1'>
                <tr ng-repeat="user_to_movie in loader.user_to_movies | orderBy:orderByField:reverseSort" ng-controller="UserToMovieController">
                    <td><a href="{{ user_to_movie.movie.page_url }}">{{ user_to_movie.movie.title }}</a></td>
                    <td>{{ user_to_movie.movie.year }}</td>
                    <td ng-show="loader.status == 'W'">
                        <div ng-show="editable">
                            <a href="#"
                               editable-select="user_to_movie.score"
                               e-name="score"
                               buttons="no"
                               e-ng-options="s as s for s in SCORE_CHOICES"
                               onaftersave="setScore()">
                                <span class="ng-scope score_{{ user_to_movie.score }}">
                                    {{ showScore() }}
                                </span>
                            </a>
                        </div>
                        <div ng-show="!editable">
                            <strong>{{ user_to_movie.score }}</strong>
                        </div>
                    </td>
                    <td ng-show="loader.status == 'W' && !editable">
                        {{ user_to_movie.my_score }}
                    </td>
                    <td>{{ user_to_movie.movie.rating_imdb }}</td>
                    <td>{{ user_to_movie.movie.votes_imdb }}</td>
                    <td>{{ user_to_movie.created_at|date:'d/M/yy' }}</td>
                </tr>
            </tbody>
        </table>
        <div ng-show='loader.busy' class="loader text-center"><p class="text-muted"><i class="fa fa-spinner fa-spin"></i></p></div>
    </section>
</div>
