{% extends 'main.html' %}
{% load i18n %}
{% load static %}
{% block body %}
<div class="row">
      <div class="col-xs-4">
          <div class="well">
              <form method="POST" action="{% url 'login' %}" novalidate="novalidate">
                  {% csrf_token %}
                  <fieldset>
                  <legend class="">Sign in</legend>
                  <div class="form-group">
                      <label for="signin-username" class="control-label">Username or email</label>
                      <input id="signin-username" autofocus="autofocus" type="text" class="form-control" name="username" value="" required="" title="Please enter you username" placeholder="example@gmail.com">
                      <span class="help-block"></span>
                  </div>
                  <div class="form-group">
                      <label for="signin-password" class="control-label">Password</label>
                      <input id="signin-password" type="password" class="form-control" name="password" value="" required="" title="Please enter your password">
                      <span class="help-block"></span>
                  </div>
                  <div class="alert alert-error hide">Wrong username og password</div>
                  <div class="checkbox">
                      <label>
                          <input type="checkbox" name="remember"> Remember me
                      </label>
                      <p class="help-block">(if this is a private computer)</p>
                  </div>
                  <button type="submit" class="btn btn-success ">Sign in</button>
                      </fieldset>
              </form>
          </div>
      </div>
        <div class="col-xs-4">
            <div class="well">
                {% include 'registration/registration_form.html' %}
            </div>
        </div>
    </div>
    <div class="row">
    <hr>
    <link rel="stylesheet" href="{% static "css/bootstrap-social.css" %}">
    <a class="btn btn-facebook" href="{% url "socialauth_begin" "facebook" %}"><i class="icon-facebook"></i> | {% trans 'Connect with Facebook' %}</a>
    <a class="btn btn-github" href="{% url "socialauth_begin" "github" %}"><i class="icon-github"></i> | {% trans 'Connect with Github' %}</a>
    <a class="btn btn-vk" href="{% url "socialauth_begin" "vk" %}"><i class="icon-vk"></i> | {% trans 'Connect with VK' %}</a>
    <a class="btn btn-twitter" href="{% url "socialauth_begin" "twitter" %}"><i class="icon-twitter"></i> | {% trans 'Connect with Twitter' %}</a>
    </div>
{% endblock %}
