{% extends 'main.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {{ user.username }} &mdash; {% trans 'Followers' %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-10">
            {% include 'pages/user/header.html' %}
            <div class="row" style="">
                <div class="col-md-6">
                    <h4>Following <span class="badge">{{ following|length }}</span></h4>
                    <hr style="margin-top: 0px;">
                    {% with following as users %}
                        {% include 'pages/user/followers/user_list.html' %}
                    {% endwith %}
                </div>
                <div class="col-md-6">
                    <h4>Followers <span class="badge">{{ followers|length }}</span></h4>
                    <hr style="margin-top: 0px;">
                    {% with followers as users %}
                        {% include 'pages/user/followers/user_list.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}














