{% extends 'main.html' %}
{% load i18n %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ movie.image_url }}">
            </div>
            <div class="col-md-8">
                <h1>{{ movie.title }}</h1>
                <blockquote>{{ movie.full_plot}}</blockquote>
                <div class="movie-info">
                    <div class="movie-genres">
                        {% for genre in movie.genres.all %}
                            <a href="/genre/"><span class="label label-info">{{ genre }}</span></a>
                        {% endfor %}
                    </div>
                    <div class="movie-director">
                        Directors:
                            {% for person in movie.directors.all %}
                                <a href="{% url 'person' person.id %}">{{ person }}</a>
                            {% endfor %}
                    </div>
                    <div class="movie-actors">
                        Starring:
                            {% for person in movie.cast.all %}
                                <a href="{% url 'person' person.id %}">{{ person }}</a>,
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
