{% load i18n %}
<div class="row" style="margin: 0; margin-left: 15px;">
    <ul class="nav nav-tabs">
      <li {% if status == constants.WATCHED %}class="active"{% endif %}>
        <a href="{% url "list_watched" user.username %}">{% trans 'Watched' %} <span class="badge">{{ total_watched }}</span></a>
      </li>
      <li {% if status == constants.PLAN_TO_WATCH %}class="active"{% endif %}>
          <a href="{% url "list_plantowatch" user.username %}">{% trans 'Plan to watch' %} <span class="badge">{{ total_plan_to_watch }}</span></a>
      </li>
      <li {% if status == constants.IGNORED %}class="active"{% endif %}>
          <a href="{% url "list_ignored" user.username %}">{% trans 'Ignored' %} <span class="badge">{{ total_ignored }}</span></a>
      </li>
      <li {% if achievements %}class="active"{% endif %}>
          <a href="{% url "list_user_achievements" user.username %}">{% trans 'Achievements' %} <span class="badge">{{ total_achievements }}</span></a>
      </li>
    </ul>
</div>

