{% load i18n %}

{% if user != request.user and request.user.is_authenticated %}
    <div class="row" style="margin: 0;">

        <div class="col-xs-2" ng-controller="FriendshipController" ng-init="init('{{ user.username }}', {{ following }})">
            <a class="btn btn-default btn-info" href="" role="button" ng-click="onClick()" ng-show="!following" style="min-width: 105px;">
                <i class="fa fa-plus-square"></i> {% trans 'Follow' %}
            </a>
            <a ng-class="{'btn btn-default btn-success': !hovering, 'btn btn-default btn-danger': hovering}" style="min-width: 105px;" href="" role="button" ng-click="onClick()" ng-show="following" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
                <i ng-class="{'fa fa-check': !hovering, 'fa fa-times': hovering}"></i> <span ng-show="!hovering">{% trans 'Following' %}</span><span ng-show="hovering">{% trans 'Unfollow' %}</span>
            </a>
        </div>
        <div class="col-xs-6">
            {% if compatibility_power >= 0 %}
                {% url 'list_comparison' request.user.username user.username as list_comparison_url %}
                <div class="progress" style="margin-bottom: 0;">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{ compatibility_power }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ compatibility_power }}%; min-width: 2em;">
                      {{ compatibility_power }}%
                  </div>
                </div>
                <small>
                    <a href="{{ list_comparison_url }}">{% trans 'Compatibility' %}: {{ compatibility_power }}%</a>.
                    {% if shared_movies|length > 0 %}
                        {% trans 'Movies you share include' %}
                        {% for shared_movie in shared_movies %}
                            <a href="{% url 'movie' shared_movie.id shared_movie.slug %}">{{ shared_movie.title }}</a>{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    {% endif %}
                {% if shared_movies_remainder > 0 %}
                    {% blocktrans %}
                        and <a href="{{ list_comparison_url }}">{{ shared_movies_remainder }} others</a>
                    {% endblocktrans %}
                {% endif %}
                </small>

            {% else %}
                    <p>&nbsp;<i class="fa fa-exclamation-triangle"></i> {% trans "<strong>Compatibility unavailable</strong>: either one or both of you haven't scored enough movies" %}. <a href="{{ list_comparison_url }}">{% trans 'Compare your lists' %}</a></p>
            {% endif %}
        </div>
    </div>
    <hr>
{% endif %}
