<div class="col-md-3">
    <div class="movie-question text-center" style="position: absolute; left: 30px; top: 300px;">
        <p class="lead">{{ T_DID_YOU_WATCH_THIS_MOVIE }}</p>
    </div>
</div>
<div class="col-md-6 text-center">
    <div class="movie-item">
        <div class="jumbotron">
            <div class="movie-poster">
               <img src="{{ movie.image_url }}" style="max-height: 445px; min-height: 445px;">
            </div>
            <div class="movie-info font-large">
                <h4 class="movie-title"><a href="{{ movie.page_url }}">{{ movie.title }}</a> ({{ movie.year }})</h4>
                <div class="movie-genres">
                    <span ng-repeat="genre in movie.genres | orderBy:'toString()'">
                        <span class="label label-success">
                            {{ genre }}
                        </span>&nbsp;
                    </span>
                </div>
                <div class="movie-director movie-info-entry">
                    <span ng-switch="movie.directors.length">
                        <span ng-switch-when="1">{{ T_DIRECTOR }}:</span>
                        <span ng-switch-default>{{ T_DIRECTORS }}:</span>
                    </span>
                    <span ng-repeat="person in movie.directors | orderBy:'name'">
                        <a href="{{ person.page_url }}">{{ person.name }}</a><span ng-show="!$last">, </span>
                    </span>
                </div>
                <div class="movie-actors movie-info-entry">
                    {{ T_STARRING }}:
                    <span ng-repeat="person in movie.cast | orderBy:'-sort_power' | limitTo:4 ">
                        <a href="{{ person.page_url }}">{{ person.name }}</a><span ng-show="!$last">, </span>
                    </span>
                </div>
            </div>
            <div class="movie-actions">
                <a class="btn btn-success add-to-list add-to-watched"
                   ng-click="nextMovie(movie.id, 'W');"
                   href="#">
                    <i class="glyphicon glyphicon-plus"></i> {{ T_WATCHED }}</a>
                <a class="btn add-to-list add-to-ptw"
                   ng-click="nextMovie(movie.id, 'P');"
                   href="#">
                    <i class="glyphicon glyphicon-plus"></i> {{ T_PLAN_TO_WATCH }}</a>
                <a class="btn btn-link add-to-list add-to-ignored"
                   ng-click="nextMovie(movie.id, 'I');"
                   href="#">{{ T_IGNORE }}</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="movie-question text-center" style="position: absolute; left: 0px; top: 200px;">
        <p class="text-muted lead">{{ T_THIS_MOVIE_IS_SUGGESTED_TO_YOU_BECAUSE }}:</p>
        <p class="lead">
            <span ng-switch="movie.suggestion_factor">
                <span ng-switch-when="IMDB_TOP">{{ T_TOP_250_IMDB_MOVIE }}</span>
                <span ng-switch-when="SAME_SERIES">{{ T_PART_OF_THE_SERIES_YOU_WATCHED }}</span>
            </span>
        </p>
    </div>
</div>
