{% load i18n %}
{% for movie in movies %}
    <div class="media" ng-controller="SerpController">
        <div class="pull-left">
            <div class="media-left">
                <a href="{% url 'movie' movie.id movie.slug %}">
                    <img class="media-object" src="{{ movie.image_url }}"
                         alt="{{ movie.title }}" style="width: 64px;">
                </a>
            </div>
            <div class="media-body">
                <div>
                    <a href="{% url 'movie' movie.id movie.slug %}">
                        <h4
                            class="media-heading"
                            style="display: inline-block;">{{ movie.title }}
                        </h4>
                    </a>
                    {% if request.user.is_authenticated %}
                        {% if movie.id in watched_movies %}
                            <span class="label label-info">{% trans 'Watched' %}</span>
                        {% elif movie.id in plan_to_watch_movies %}
                            <span class="label label-info">{% trans 'Plan to watch' %}</span>
                        {% else %}
                            <div style="display: inline-block; margin-left: 5px;" ng-show="!status">
                                <div class="btn-group" style="margin-bottom: 5px;">
                                    <button type="button"
                                            class="btn btn-default dropdown-toggle btn-xs"
                                            data-toggle="dropdown"
                                            aria-expanded="false">
                                        <i class="fa fa-plus"></i> {% trans 'Add' %} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#" ng-click="addMovie({{ movie.id }}, '{{ constants.WATCHED }}')">{% trans 'Watched' %}</a></li>
                                        <li><a href="#" ng-click="addMovie({{ movie.id }}, '{{ constants.PLAN_TO_WATCH }}')">{% trans 'Plan to watch' %}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <span class="label label-info" ng-show="status == '{{ constants.WATCHED }}'">{% trans 'Watched' %}</span>
                            <span class="label label-info" ng-show="status == '{{ constants.PLAN_TO_WATCH }}'">{% trans 'Plan to watch' %}</span>
                        {% endif %}
                    {% endif %}
                </div>
                <div>
                    {{ movie.year }}
                    {% for country in movie.countries.all %}
                        <span class="flag-wrapper flag-icon flag-icon-{{ country.iso_code|lower }}"
                              title="{{ country.name }}"></span>
                    {% endfor %}
                </div>
                <div>
                    {% if movie.directors.all|length == 1 %}
                        {% trans 'Director' %}:
                    {% else %}
                        {% trans 'Directors' %}:
                    {% endif %}
                    {% for person in movie.directors.all %}
                        <a href="{% url 'person' person.id person.slug %}">{{ person.name }}</a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
                <div>
                    {% trans 'Cast' %}:
                    {% for person in movie.get_short_cast %}
                        <a href="{% url 'person' person.id person.slug %}">{{ person.name }}</a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
                <div>
                    {% for genre in movie.genres.all %}
                        <span class="label label-success">
                        {{ genre.name }}
                    </span>&nbsp;
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endfor %}
