{% load i18n %}
{% for movie in movies %}
<div class="media">
    <div class="pull-left">
        <div class="media-left">
            <a href="{% url 'movie' movie.id %}">
                <img class="media-object" src="{{ movie.image_url }}" alt="{{ movie.title }}" style="width: 64px;">
            </a>
        </div>
        <div class="media-body">
            <div>
                <a href="{% url 'movie' movie.id %}"><h4 class="media-heading" style="display: inline-block;">{{ movie.title }}</h4></a>
            </div>
            <div>
                {{ movie.year }}
                {% for country in movie.countries.all %}
                    <span class="flag-icon flag-icon-{{ country.iso_code|lower }}" title="{{ country.name }}"></span>
                {% endfor %}
            </div>
            <div>
                {% if movie.directors.all|length == 1 %}
                    {% trans 'Director' %}:
                {% else %}
                    {% trans 'Directors' %}:
                {% endif %}
                {% for person in movie.directors.all %}
                    <a href="{% url 'person' person.id %}">{{ person.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
            <div>
                {% trans 'Cast' %}:
                {% for person in movie.get_short_cast %}
                    <a href="{% url 'person' person.id %}">{{ person.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
            <div>
                {% for genre in movie.genres.all %}
                    <span class="label label-success">
                        {{ genre.name }}
                    </span>&nbsp;
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<hr>
{% endfor %}
