{% load i18n %}
<div class="row" style="margin: 0; margin-left: 15px; margin-top: 15px;">
    <h1 style="display: table-cell; font-size: 28px;">
        {% if '/list/' in request.path %}
            {{ user.username }}
        {% else %}
            <a href="{% url 'list_watched' user.username %}">{{ user.username }}</a>
        {% endif %}
    </h1>
    {% include 'pages/user/personal_info.html' with user=user %}
    <ul class="nav nav-pills" style="display: table-cell; vertical-align: middle; padding-left: 10px;">
        <li class="{% if '/followers/' in request.path %} active {% endif %}"><a href="{% url 'followers' user.username %}">{% trans 'Followers' %}</a></li>
        <li><a href="#">{% trans 'Charts' %}</a></li>
        <li><a href="#">{% trans 'Favorites' %}</a></li>
    </ul>
</div>
<hr>
