{% load i18n %}

    <div class="movie-item">
        <div class="movie-poster">
           <img src="{{ movie.image_url }}">
        </div>
        <div class="movie-info">
            <h5 class="movie-title"><a href="/movie/{{ movie.pk }}/">{{ movie.title }}</a> ({{ movie.year }})</h5>
            <div class="movie-genres">
                {% for genre in movie.genres.all %}
                    <a href="/genre/{{ genre.title_en }}/"><span class="label label-info">{{ genre.title }}</span></a>
                {% endfor %}
            </div>
            <div class="movie-director movie-info-entry">
                {% trans 'Director' %}:
                {% for person in movie.directors.all %}
                    <a href="/person/{{ person.pk }}/">{{ person.title }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
            <div class="movie-actors movie-info-entry">
                {% trans 'Starring' %}:
                {% for person in movie.cast.all %}
                    <a href="/person/{{ person.pk }}/">{{ person.title }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="movie-actions">
            <a class="btn btn-success add-to-list add-to-watched" data-loading-text="<i class='icon-spinner icon-spin icon-large'></i> {% trans 'Working...' %}" data-status="W" data-movie-id="{{ movie.pk }}" href="#"><i class="icon-plus"></i> {% trans 'Watched'%}</a>
            <a class="btn add-to-list add-to-ptw" data-status="P" data-loading-text="<i class='icon-spinner icon-spin icon-large'></i> {% trans 'Working...' %}" data-movie-id="{{ movie.pk }}" href="#"><i class="icon-plus"></i> {% trans 'Plan to watch' %}</a>
            <a class="btn btn-link add-to-list add-to-ignored" data-status="I" data-loading-text="<i class='icon-spinner icon-spin icon-large'></i> {% trans 'Working...' %}" data-movie-id="{{ movie.pk }}" href="#">{% trans 'Ignore' %}</a>
        </div>
    </div>
