{% extends 'main.html' %}
{% load i18n %}
{% load static %}
{% block body %}
    <script src="{% static "angular/angular.min.js" %}" type="text/javascript"></script>
    <script src="{% static "angular-animate/angular-animate.min.js" %}" type="text/javascript"></script>
    <script src="{% static "angular-resource/angular-resource.min.js" %}" type="text/javascript"></script>
    <script src="{% static "app/utils/tasty-resource.js" %}" type="text/javascript"></script>

    <script src="{% static "app/pages/wizard/wizard.js" %}"></script>
    <link href="{% static "app/pages/wizard/wizard.css" %}" rel="stylesheet">
    <div class="row" ng-app="Wizard">
        <div ng-controller="WizardController" ng-init="init()">
            <div ng-repeat="movie in suggestionLoader.suggestions | orderBy:'sort_order' |limitTo:1"
                 ng-include="'/static/app/pages/wizard/movie.html'">
            </div>
        </div>
    </div>
{% endblock %}
