{% extends 'main.html' %}
{% load i18n %}
{% block title %}
    {% trans 'Movielist' %}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="jumbotron" style="margin-right: 30px;">
          <h1>{% trans 'Make your own movie list' %}</h1>
          <p>{% trans 'If your list gets big you could brag about it.' %}</p>
          <p>{% trans 'Also achievements.' %}</p>
          <p>
            <a class="btn btn-primary btn-lg">
              Learn more
            </a>
          </p>
        </div>
   </div>
{% endblock %}
