{% load i18n %}
<h1><a href="{% url 'list_watched' user.username %}">{{ user.username }}</a></h1>
<hr style="margin-top: 0;">
<div class="col-md-6">
    <dl class="dl-horizontal">
      <dt>{% trans 'Total runtime' %}:</dt>
      <dd><span class="badge">{{ user.get_total_movie_runtime_days }} {% trans 'days' %}</span></dd>
      <dt>{% trans 'Movies watched' %}:</dt>
      <dd><span class="badge">{{ user.get_total_watched_movies }}</span></dd>
      <dt>{% trans 'Average score' %}:</dt>
      <dd><span class="badge">{{ user.get_average_movie_score|default:'-'}}</span></dd>
    </dl>
</div>
