{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
        <link href="{% static "app/main.css" %}" rel="stylesheet">
        <title>Movie list</title>
        <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
        <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    </head>
<body>
{% include 'navbar.html' %}
<div class="container">
{% block body %}
{% endblock %}
</div>
</body>
</html>
