{% extends 'main.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {% trans 'List comparison' %}
{% endblock %}
{% block head %}
    <script src="{% static "angular/angular.min.js" %}" type="text/javascript"></script>
    <script src="{% static "angular-resource/angular-resource.min.js" %}" type="text/javascript"></script>
    <script src="{% static "angular-route/angular-route.min.js" %}" type="text/javascript"></script>
    <link href="{% static "angular-xeditable/dist/css/xeditable.css" %}" rel="stylesheet">
    <link href="{% static "flag-icon-css/css/flag-icon.min.css" %}" rel="stylesheet">
    <script src="{% static "angular-xeditable/dist/js/xeditable.min.js" %}" type="text/javascript"></script>
    <script src="{% static 'd3/d3.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'deps/angular-charts/angular-charts.min.js' %}" type="text/javascript"></script>

    <script src="{% static "app/utils/tasty-resource.js" %}" type="text/javascript"></script>
    <script src="{% static "app/pages/user/compare.js" %}" type="text/javascript"></script>
    <link href="{% static "app/pages/stats.css" %}" rel="stylesheet">
    <link href="{% static "app/pages/user-score.css" %}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div ng-app="CompareList">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    {% include 'pages/user/compare/blocks/personal_stats.html' with user=first_user %}
                </div>
                <div class="col-md-6">
                    {% include 'pages/user/compare/blocks/personal_stats.html' with user=second_user %}
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                {% include 'pages/user/compare/blocks/menu.html' %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                {% if mode == constants.COMPARE_MODE_SCORE_DISTRIBUTION %}
                    {% include 'pages/user/compare/blocks/stats.html' %}
                {% else %}
                    {% include 'pages/user/compare/blocks/table.html' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
