{% extends 'main.html' %}
{% load i18n %}
{% block body %}
<div class="row">
    <div class="span4">
        <ul class="nav nav-list">
          <li class="nav-header">{% trans "Friends" %}</li>
          {% for friend in user.friends.all %}
          <li><a href="{% url "list_watched" friend.username %}">{{ friend.username }}</a></li>
          {% endfor %}
        </ul>
    </div>
    <div class="span8">
        <h3>{{ user.username }}'s movie list</h3>
        <ul class="nav nav-tabs">
            <li><a href="{% url "list_watched" user.username %}">{% trans 'Watched' %}</a></li>
          <li><a href="{% url "list_plantowatch" user.username %}">{% trans 'Plan to watch' %}</a></li>
          <li><a href="{% url "list_ignored" user.username %}">{% trans 'Ignored' %}</a></li>
            <li class="active">
              <a href="{% url "list_user_achievements" user.username %}">{% trans 'Achievements' %}</a>
            </li>
        </ul>
        {% include 'list/achievements.html' %}
    </div>
</div>
{% endblock %}
